[Boutilier21](https://pubsonline.informs.org/doi/abs/10.1287/msom.2021.1046) says:
- develop a rolling-horizon machine learning (ML) framework to generate dynamic risk predictions for patients enrolled on the platform
- prior verification behavior can be used to accurately predict short-term (treatment adherence verification) and long-term (successful treatment completion) outcomes.
